.top-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    height: 5vh;
    font-weight: bolder;
    font-size: 2vh;
}

#now-status{
    color: green;
    font-weight: 800;
}

.status-area{
    height: 8vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    font-size: 2em;
    font-weight: bolder;
}

.image-select-area{
    width: 96vw;
    height: 96vw;
    margin: 0 2vw 2vh 2vw;
}

.row-photo{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 28vw;
    margin-top: 3vw;
}

.row-content{
    display: flex;
    justify-content: center;
    align-item: center;
    width: 28vw;
    height: 100%;
    background-color: lightgrey;
}

.ddabong{
    z-index: 999;
    position: absolute;
    font-size: 2.5em;
    font-weight: bolder;
    color: #237f45
}
.cropped-imgs{
    max-width: 100%;
    max-height: 100%;
}

#detailed-crack-img-submit-btn{
    background-color: #7ab985;
    color: white;
    border-radius: 5px;
    text-align: center;
    width: 80vw;
    margin-top: 2vh;
    margin-left: 10vw;
    margin-right: 10vw;

    font-size: 2.4vh;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
}

img {
  display: block;

  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}