{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>아이클롭스 균열검출기</title>

    <link rel="stylesheet" href="{% static 'css/index-third.css' %}">
    <!-- CDNS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script  src="https://code.jquery.com/jquery-3.6.1.slim.js"  integrity="sha256-tXm+sa1uzsbFnbXt8GJqsgi2Tw+m4BLGDof6eUPjbtk=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="top-nav">
        <div class="nav-left" onclick="location.href='/'">균열 검출기</div>
        <div class="nav-right" style="font-size: 2vh;">Aiclops X KAU</div>
    </div>

    <div class="status-area">
        <div class="status-info" ><div style="text-align: center">1</div>사진 업로드 </div>
        <div>..........</div>
        <div class="status-info"><div style="text-align: center">2</div>균열 검출</div>
        <div>..........</div>
        <div class="status-info" id="now-status"><div style="text-align: center">3</div>결과 확인</div>
    </div>

    <div style="width: 100vw; text-align: center; font-size: 5em; font-weight: bolder">균열 검출 결과</div>
    <div class="loading-area">
        <div class="file-upload-area">
            <img class="crack_img" id="resized_img" src="#" />
            <img class="crack_img" id="predicted_img" src="#" />
        </div>
    </div>

    <div class="slidecontainer">
        <div id="slider-info">예측 이미지의 투명도를 조절해보세요.</div>
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        <p id="value-container">투명도: <span id="value"></span>%</p>
    </div>


</body>
<script type="text/javascript" src="/templates/static/js/index-third.js"></script>
</html>