<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>아이클롭스 균열검출기</title>

    <!-- CDNS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script  src="https://code.jquery.com/jquery-3.6.1.slim.js"  integrity="sha256-tXm+sa1uzsbFnbXt8GJqsgi2Tw+m4BLGDof6eUPjbtk=" crossorigin="anonymous"></script>

    <!-- customs -->
    <link rel="stylesheet" href="/templates/static/css/index.css">
    <script type="text/javascript" src="/templates/static/js/hostAddr.js"></script>

</head>
<body>
    <div class="top-nav">
        <div class="nav-left"  style="color: rgb(1, 26, 93);" onclick="location.href='/'">Aiclops X KAU</div>
        <div class="nav-right" style="font-size: 2vh; color: #6c6c6c">콘트리트 균열 검출기</div>
    </div>

    <div class="status-area">
        <div class="status-info" id="now-status"><div style="text-align: center">1</div>사진 업로드 </div>
        <div>..........</div>
        <div class="status-info"><div style="text-align: center">2</div>균열 검출</div>
        <div>..........</div>
        <div class="status-info"><div style="text-align: center">3</div>결과 확인</div>
    </div>

    <div class="file-upload-area">
        <form runat="server">
            <div class="image-preview-area">
                <img id="crack_img" src="#" alt="균열 사진을 업로드 해주세요." style="max-height:100%; max-width:100%;" />
            </div>
            <div style="margin-top: 1vh">
                <div class="filebox">
                    <input class="upload-name" value="첨부파일" placeholder="첨부파일">
                    <label for="imgInp">사진찍기</label>
                    <input type='file' accept="image/*"  capture="camera" id="imgInp">
                </div>
            </div>
        </form>
    </div>
     <div class="button-area"><button id="crack-img-submit-btn" >균열 측정하기</button></div>
    <div class="button-area"><button id="detailed-crack-img-submit-btn" >균열 이미지 자세히 측정하기</button></div>

    <div id="modal" class="modal-overlay">
        <div class="modal-window">
            <div class="title">
                카메라와 균열 물체의 거리를 선택해주세요.
            </div>
            <div class="close-area">X</div>
            <div class="content">
                <div class="select is-link" id="length-select-btn">
                  <select id="select-btn" onchange="lengthSelectChange(this)">
                    <option value="1">1m</option>
                    <option value="2" selected>2m</option>
                    <option value="3">3m</option>
                  </select>
                </div>
                <div class="buttons" style="margin-top: 6vh;" id="modal-btn-area">
                </div>

            </div>

        </div>
    </div>

    <div id="loading_status" style="width: 100vw; text-align: center; font-size: 3vh; font-weight: bolder"></div>
</body>
<script type="text/javascript" src="/templates/static/js/index.js"></script>
</html>