{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>아이클롭스 균열검출기</title>

    <link rel="stylesheet" href="{% static 'css/index-detailed-third.css' %}">
    <!-- CDNS -->
    <script  src="https://code.jquery.com/jquery-3.6.1.slim.js"  integrity="sha256-tXm+sa1uzsbFnbXt8GJqsgi2Tw+m4BLGDof6eUPjbtk=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="top-nav">
        <div class="nav-left" onclick="location.href='/'">균열 검출기</div>
        <div class="nav-right" style="font-size: 2vh;">Aiclops X KAU</div>
    </div>

    <div class="status-area">
        <div class="status-info" ><div style="text-align: center">1</div>사진 업로드 </div>
        <div>..........</div>
        <div class="status-info"><div style="text-align: center">2</div>균열 검출</div>
        <div>..........</div>
        <div class="status-info" id="now-status"><div style="text-align: center">3</div>결과 확인</div>
    </div>

    <div style="width: 100vw; text-align: center; font-size: 5em; font-weight: bolder">정밀 균열 검출 결과</div>
    <!-- 상단 -->
    <div class="loading-area">
        <div class="position-information">상단 균열 검출 결과</div>
        <div class="file-upload-area">
            <div class="img-left">
                <img class="crack_img resized_img" src="/templates/static/images/resized/resized_leftTop_crack_test_img_2.jpeg" />
                <img class="crack_img predicted_img topRow" src="/templates/static/images/predicted/resized_leftTop_crack_test_img_2.jpg" />
            </div>
            <div class="img-mid">
                <img class="crack_img resized_img" src="/templates/static/images/resized/resized_midTop_crack_test_img_2.jpeg" />
                <img class="crack_img predicted_img topRow" src="/templates/static/images/predicted/resized_midTop_crack_test_img_2.jpg" />
            </div>
            <div class="img-right">
                <img class="crack_img resized_img" src="/templates/static/images/resized/resized_rightTop_crack_test_img_2.jpeg" />
                <img class="crack_img predicted_img topRow" src="/templates/static/images/predicted/resized_rightTop_crack_test_img_2.jpg" />
            </div>
        </div>
    </div>
    <div class="slidecontainer">
        <div id="slider-info">예측 이미지의 투명도를 조절해보세요.</div>
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        <p id="value-container">투명도: <span id="value"></span>%</p>
    </div>

    <!-- 중단 -->
    <div class="loading-area">
        <div class="position-information">중단 균열 검출 결과</div>
        <div class="file-upload-area">
            <div class="img-left">
                <img class="crack_img resized_img" src="/templates/static/images/resized/resized_leftMid_crack_test_img_2.jpeg" />
                <img class="crack_img predicted_img topRow" src="/templates/static/images/predicted/resized_leftMid_crack_test_img_2.jpg" />
            </div>
            <div class="img-mid">
                <img class="crack_img resized_img" src="/templates/static/images/resized/resized_midMid_crack_test_img_2.jpeg" />
                <img class="crack_img predicted_img topRow" src="/templates/static/images/predicted/resized_midMid_crack_test_img_2.jpg" />
            </div>
            <div class="img-right">
                <img class="crack_img resized_img" src="/templates/static/images/resized/resized_rightMid_crack_test_img_2.jpeg" />
                <img class="crack_img predicted_img topRow" src="/templates/static/images/predicted/resized_rightMid_crack_test_img_2.jpg" />
            </div>
        </div>
    </div>
    <div class="slidecontainer">
        <div id="slider-info">예측 이미지의 투명도를 조절해보세요.</div>
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        <p id="value-container">투명도: <span id="value"></span>%</p>
    </div>

    <!-- 하단 -->
    <div class="loading-area">
        <div class="position-information">하단 균열 검출 결과</div>
        <div class="file-upload-area">
            <div class="img-left">
                <img class="crack_img resized_img" src="/templates/static/images/resized/resized_leftBot_crack_test_img_2.jpeg" />
                <img class="crack_img predicted_img topRow" src="/templates/static/images/predicted/resized_leftBot_crack_test_img_2.jpg" />
            </div>
            <div class="img-mid">
                <img class="crack_img resized_img" src="/templates/static/images/resized/resized_midBot_crack_test_img_2.jpeg" />
                <img class="crack_img predicted_img topRow" src="/templates/static/images/predicted/resized_midBot_crack_test_img_2.jpg" />
            </div>
            <div class="img-right">
                <img class="crack_img resized_img" src="/templates/static/images/resized/resized_midBot_crack_test_img_2.jpeg" />
                <img class="crack_img predicted_img topRow" src="/templates/static/images/predicted/resized_midBot_crack_test_img_2.jpg" />
            </div>
        </div>
    </div>
    <div class="slidecontainer">
        <div id="slider-info">예측 이미지의 투명도를 조절해보세요.</div>
        <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        <p id="value-container">투명도: <span id="value"></span>%</p>
    </div>


</body>
{#<script type="text/javascript" src="/templates/static/js/index-detailed-third.js"></script>#}
</html>