{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>아이클롭스 균열검출기</title>

    <link rel="stylesheet" href="{% static 'css/index-second.css' %}">
    <!-- CDNS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script  src="https://code.jquery.com/jquery-3.6.1.slim.js"  integrity="sha256-tXm+sa1uzsbFnbXt8GJqsgi2Tw+m4BLGDof6eUPjbtk=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="top-nav">
        <div class="nav-left">균열 검출기</div>
        <div class="nav-right" style="font-size: 2vh;">Aiclops X KAU</div>
    </div>

    <div class="status-area">
        <div class="status-info" ><div style="text-align: center">1</div>사진 업로드 </div>
        <div>..........</div>
        <div class="status-info" id="now-status"><div style="text-align: center">2</div>균열 검출</div>
        <div>..........</div>
        <div class="status-info"><div style="text-align: center">3</div>결과 확인</div>
    </div>

    <div class="file-upload-area">
        <img id="crack_img" src="/templates/static/images/loading.gif"  />
    </div>
    <div style="width: 100vw; text-align: center; font-size: 5em; font-weight: bolder">균열 검출중...</div>
</body>

</html>