{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>아이클롭스 균열검출기</title>

    <link rel="stylesheet" href="{% static 'css/select-detailed.css' %}">
    <script type="text/javascript" src="/templates/static/js/hostAddr.js"></script>
    <!-- CDNS -->
    <script  src="https://code.jquery.com/jquery-3.6.1.slim.js"  integrity="sha256-tXm+sa1uzsbFnbXt8GJqsgi2Tw+m4BLGDof6eUPjbtk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script src="https://fengyuanchen.github.io/cropper/js/cropper.js"></script>
</head>
<body>
    <div class="top-nav">
        <div class="nav-left"  style="color: rgb(1, 26, 93);" onclick="location.href='/'">Aiclops X KAU</div>
        <div class="nav-right" style="font-size: 2vh; color: #6c6c6c">콘트리트 균열 검출기</div>
    </div>

    <div class="status-area">
        <div class="status-info" id="now-status" ><div style="text-align: center">1</div>사진 업로드 </div>
        <div>..........</div>
        <div class="status-info"><div style="text-align: center">2</div>균열 검출</div>
        <div>..........</div>
        <div class="status-info"><div style="text-align: center">3</div>결과 확인</div>
    </div>

    <div style="width: 100vw; text-align: center; font-size: 2.5em; font-weight: bolder; margin-bottom: 3vh;">조사가 필요한 균열 부위를 <br>선택해주세요.</div>

    <div class="image-select-area">
       <img id="originImgArea" src="#">
    </div>
    <div style="width: 100vw; display: flex; justify-content: center">
             <button class="button is-success" id="detailed-crack-img-submit-btn" onclick="submitBtn()">균열 이미지 자세히 측정하기</button>

    </div>

</body>
<script type="text/javascript" src="/templates/static/js/select-detailed.js"></script>
</html>