{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>아이클롭스 균열검출기</title>

    <link rel="stylesheet" href="{% static 'css/select-detailed.css' %}">
    <script type="text/javascript" src="/templates/static/js/hostAddr.js"></script>
    <!-- CDNS -->
    <script  src="https://code.jquery.com/jquery-3.6.1.slim.js"  integrity="sha256-tXm+sa1uzsbFnbXt8GJqsgi2Tw+m4BLGDof6eUPjbtk=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="top-nav">
        <div class="nav-left" onclick="location.href='/'">균열 검출기</div>
        <div class="nav-right" style="font-size: 2vh;">Aiclops X KAU</div>
    </div>

    <div class="status-area">
        <div class="status-info" id="now-status" ><div style="text-align: center">1</div>사진 업로드 </div>
        <div>..........</div>
        <div class="status-info"><div style="text-align: center">2</div>균열 검출</div>
        <div>..........</div>
        <div class="status-info"><div style="text-align: center">3</div>결과 확인</div>
    </div>

    <div style="width: 100vw; text-align: center; font-size: 2.5em; font-weight: bolder; margin-bottom: 3vh;">조사가 필요한 균열 부위를 <br>선택해주세요.</div>

    <div class="image-select-area">
        <div class="row-photo top">
            <div class="row-content" id="leftTopResized-area">
                <div class="ddabong" id="leftTop" style="display: none"> 선택됨 </div>
                <img src="#" class="cropped-imgs" id="leftTopResized" onclick="selectItems('leftTop')">
            </div>
            <div class="row-content" id="midTopResized-area">
                <div class="ddabong" id="midTop" style="display: none"> 선택됨 </div>
                <img src="#" class="cropped-imgs" id="midTopResized" onclick="selectItems('midTop')">
            </div>
            <div class="row-content" id="rightTopResized-area">
                <div class="ddabong" id="rightTop" style="display: none"> 선택됨 </div>
                <img src="#" class="cropped-imgs" id="rightTopResized" onclick="selectItems('rightTop')">
            </div>
        </div>

        <div class="row-photo mid">
            <div class="row-content" id="leftMidResized-area">
                <div class="ddabong" id="leftMid" style="display: none"> 선택됨 </div>
                <img src="#" class="cropped-imgs" id="leftMidResized" onclick="selectItems('leftMid')">
            </div>
            <div class="row-content" id="midMidResized-area">
                <div class="ddabong" id="midMid" style="display: none"> 선택됨 </div>
                <img src="#" class="cropped-imgs" id="midMidResized" onclick="selectItems('midMid')">
            </div>
            <div class="row-content" id="rightMidResized-area">
                <div class="ddabong" id="rightMid" style="display: none"> 선택됨 </div>
                <img src="#" class="cropped-imgs" id="rightMidResized" onclick="selectItems('rightMid')">
            </div>
        </div>

        <div class="row-photo bottom">
            <div class="row-content" id="leftBotResized-area">
                <div class="ddabong" id="leftBot" style="display: none"> 선택됨 </div>
                <img src="#" class="cropped-imgs" id="leftBotResized" onclick="selectItems('leftBot')">
            </div>
            <div class="row-content" id="midBotResized-area">
                <div class="ddabong" id="midBot" style="display: none"> 선택됨 </div>
                <img src="#" class="cropped-imgs" id="midBotResized" onclick="selectItems('midBot')">
            </div>
            <div class="row-content" id="rightBotResized-area">
                <div class="ddabong" id="rightBot" style="display: none"> 선택됨 </div>
                <img src="#" class="cropped-imgs" id="rightBotResized" onclick="selectItems('rightBot')">
            </div>
        </div>
    </div>

    <button onclick="submitBtn()">확인</button>
</body>
<script type="text/javascript" src="/templates/static/js/select-detailed.js"></script>
</html>